.Leaveplan{
    margin-left: 18%;
    margin-right: 2%;
    padding-top: 7%;
    border-collapse: collapse;
    padding-bottom: 7%;
}

.thead1 {
    background: white !important;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.tr{
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 5px;
}
.trE {
    width: 8%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.captions{
    font-size: 40px;
    padding-bottom: 15px;
    color: gray;
}
.levbutton {
    padding: 10% 10%;
    margin-top: 3%;
    border-radius: 25%;
    border: none;
    background-color: #d9534f;
    cursor: pointer;
}
.levAddbutton {
    padding: 1% 2%;
    margin: 3%;
    border-radius: 25%;
    margin-left: 50%;
    border: none;
    background-color: #337ab7;
    cursor: pointer;
}
.levtextarea {
    padding: 4% 10%;
    border-radius: 5px;
    border: 1px solid #EEE;
}
table{
    border: 3px solid #EEE;
    border-radius: 5px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
#closebtn {
    top: 0;
    float: right;
    font-size: 200%;
    cursor: pointer;
}