.sidenav {
  width: 15vw;
  position: fixed;
  background: #b9b7b7;
  overflow-x: hidden;
  padding: 0;
  height: 88vh;
  margin-top: 50px;
  -webkit-transition: height 2s; /* For Safari 3.1 to 6.0 */
  transition: height 2s;

}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #064579;
  background-color:#ffe4c4;
}

.sidenav button{
  padding: 15px;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: all 1s ease-in;
  text-align: unset;
}

.sidenav button:hover{
  background-color: #ffe4c4;
}

.link{
  padding: 15px;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: all 1s ease-in;
  
}
.sidenav .link:hover{
  background-color: #ffe4c4;
}
.employeeCss{
  display: none;
}
.sidenavHide{
  overflow: hidden;
  height: 0;
  -webkit-transition: height 2s; /* For Safari 3.1 to 6.0 */
  transition: height 2s;
  /*display: none;*/
}
.sidenavDisplay{
  overflow: hidden;
  height: 60vh;
  margin-top: 0px !important;
  -webkit-transition: height 2s; /* For Safari 3.1 to 6.0 */
  transition: height 2s;
}
.triangle-right {
	width: 0;
  height: 0;
  display: inline-block;
	border-top: 5px solid transparent;
	border-left: 5px solid #555;
	border-bottom: 5px solid transparent;
}
.triangle-down {
	width: 0;
  height: 0;
  display: inline-block;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #555;
}