#fullCalendarContainer{
    display: flex;
    margin-top: 53px;
    margin-left: 15vw;
    margin-bottom: 40px;
    width: 80vw;
}
#fullCalendarMainContainer{
    overflow-y: scroll;
}

#fullCalendarMainContainer::-webkit-scrollbar {
    display: none;
}
.fc-popover{
    height: 15% !important;
    overflow-y: scroll;
    background-color: #ffff;
    border: 1px solid #EDEDED;
    border-radius: 3px;
}
.pop-overlay{
    background: none !important;
}
/* .popup-overlay{
    pointer-events: none;
}
.popup-content button{
    pointer-events: stroke;
} */
#popUp{
    
}