.leaveRecord{
	margin-left: 18%;
	margin-right: 2%;
}
.tableDiv {
	margin-left: 18%;
	margin-right: 2%;
	height: 100%;
	border: 1px solid #DFDEE9;
	background-color: #FFFFFF;
	padding: 0 2% 0 2%;
}
.recRow {
	border-bottom: 1px solid #DFDEE9;
}
table{
	border-collapse: collapse;
	width: 100%;
}
.recCell {
	padding: 2%;
}
.Approve {
	text-align: center;
	height: 100%;
}
.recRow:hover, .normal:hover {
	background-color: #F6F5F9;
	cursor: pointer;
}
.Head:hover {
	cursor: default;
}
.check {
	border-radius: 50%;
}




	
