#leaveRecord .leaveRec{
	margin-left: 18%;
	margin-right: 2%;
}
#leaveRecord .tableDiv {
  margin-top:10%;
	margin-left: 18%;
  margin-right: 2%;
  margin-bottom: 2%;
	height: 100%;
	border: 1px solid #DFDEE9;
	background-color: #FFFFFF;
	padding: 0 2% 0 2%;
}
.tableDiv .recRow {
	border-bottom: 1px solid #DFDEE9;
}
.tableDiv .tableContent{
	border-collapse: collapse;
	width: 100%;
}
.recRow .recCell, .normal .recCell {
	padding: 2%;
}
.recCell .Approve {
	text-align: center;
	height: 100%;
	display: block;
  border-radius: 50%;
  border: 2px solid #A6A5B8;
  color: white;
  width: 53%;
  margin-left: 20%;
}
.tableDiv .recRow:hover, .tableDiv .normal:hover {
	background-color: #F6F5F9;
	cursor: pointer;
}
.tableContent .Head:hover {
	cursor: default;
}
.recCell .check {
	border-radius: 50%;
}
.Approve .fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	color: #A6A5B8;
  }




	
