body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#componentContainer{
  padding: 2%;
  height: 100%;
  margin: 60px 0 0 200px;
  background-color: #F6F5F9;
}

@font-face {
	font-family: "muli-bold";
	src: url("./Assets/Fonts/Muli/Muli-Bold.ttf");
}

@font-face {
	font-family: "muli-regular";
	src: url("./Assets/Fonts/Muli/Muli-Regular.ttf");
}

@font-face {
  font-family: "muli-semi-bold";
  src: url("./Assets/Fonts/Muli/Muli-SemiBold.ttf")
}

@font-face {
  font-family : "muli-extra-bold";
  src: url("./Assets/Fonts/Muli/Muli-ExtraBold.ttf")
}